<!-- <div class="color">
    <div fxLayout="row" fxLayoutAlign="center center" >
<div class="container1">
    <div class="column1">
        vvvvvvvv
    </div>
    <div class="column1">
        <h2 class="get">Get started</h2>
        <h4 class="create">Create your account now</h4>
        <form class="example-form">
       
        <p class="name">Full Name</p>
        <mat-form-field appearance="outline">
            <input matInput class="place"placeholder="Placeholder">
        </mat-form-field>
        <p class="name1">Email</p>
        <mat-form-field appearance="outline">
            <input matInput class="place"placeholder="Placeholder">
        </mat-form-field>
        <p class="name1">Password</p>
        <mat-form-field appearance="outline">
            <input matInput class="place" type="password"placeholder="Placeholder">
        </mat-form-field>
        <div class="row">
            <button mat-stroked-button>Sign Up</button>
        </div>
    </form>
    </div>
</div>
</div>
</div> -->
<div class="all" fxLayoutAlign="center center">
    <div class="c1" fxLayout="row" fxLayout.lt-md="column" fxFlex="70%" fxFlex.lt-sm="100%">
        <div fxFlex="50%" class="c1_1" fxFlexOrder.lt-sm="2">
            <mat-icon>center_focus_strong</mat-icon>
            <h2 class="let">Let us help you run your <br>freelance business.</h2>
            <p class="our">Our registration process is quick and easy, taking no more than 10 minutes to complete.</p>
            <div class="box1">
            <div class="box">
                <div class="text">
                    <p>I'm impressed with the results I've seen since starting to use this product, I begin receiving
                        clients and projects in the first week</p>
                </div>
                <div class="text2">
                    <img src="../../../../assets/don.jpeg">
                    <div class="text3">
                        Jonas Kim
                    </div>
                    <div class="text4">
                        Product Designer
                    </div>
                </div>
            </div>
        </div>
            <div class="radio">
                <input type="radio" name="select" checked="checked">
                <input type="radio" name="select">
                <input type="radio" name="select">
            </div>
        </div>
        <div class="c2" fxFlex="50%">
            <div class="c2_1">
                <h2 class="get">Get started</h2>
                <h4 class="create">Create your account now</h4>
                <div class="form1">
                <form class="example-form">
                    <p class="name">Full Name</p>
                    <mat-form-field appearance="outline" class="place1" style="width: 100%;">
                        <input matInput class="place" placeholder="Placeholder">
                    </mat-form-field>
                    <p class="name1">Email</p>
                    <mat-form-field appearance="outline" class="place1" style="width: 100%;">
                        <input matInput class="place" placeholder="Placeholder">
                    </mat-form-field>
                    <p class="name1">Password</p>
                    <mat-form-field appearance="outline" class="place1" style="width: 100%;">
                        <input matInput class="place pass" type="password" placeholder="Placeholder">
                    </mat-form-field>
                    <div class="row">
                        <button mat-raised-button>Sign Up</button>
                    </div>
                    <p class="have">Have an account? <span style="color: blue;">Login</span></p>
                </form>
                </div>
            </div>
        </div>
    </div>
</div>