// // .container1{
// //     display: flex;
// //     padding-left:130px;
// //     padding-right:130px;
// //     padding-top: 50px;
    
// // }
// // .column1{
// //     flex: 50%;
// //     background-color: white;
// // }
// .let{
//    margin-top: 60px;
//    margin-left: 40px;
//     font-size: 30px;
//     word-spacing: 1px;
//     letter-spacing: 0px;
//     line-height: 45px;
//     font-weight:500;
// }
// .get{
//     margin-top: 60px;
//     font-weight:500;
// }
// .create{
//     margin-top: -10px;
//     font-weight: 400;
//     color:rgb(118, 119, 122);
// }
// .container1{
//     background-color:grayscale($color: #746e6e); 
//     padding-top:40px;
//     padding-bottom:40px;
//     height: 100%;
// }
// .container2{
//     // margin-top: 30px;
//     width:32%;
//     height:100%;
//     border-top-left-radius: 30px;
//     border-bottom-left-radius: 20px;
//     border-radius: 15px;
//     // border-color: white;
//     // border-width: 100%;
// }
// .container3{
//     padding-left: 30px;
//     // margin-top: 30px; 
//     background-color: white;
//     width:32%;
//     height:100%;
//     border-top-right-radius: 20px;
//     border-bottom-right-radius: 20px;
// }
// // .form{
// //     margin-top:30px;
// // }
// // // .example-full-width {
// // //     width: 100%;
// // // }
// // // .example-form {
// // //     min-width: 150px;
// // //     max-width: 500px;
// // //     width: 100%;
// // //     height:300px;
// // // }
// mat-form-field{
//     height:70px;
//     width:85%;
    
// }
// .our{
//     color:rgb(106, 111, 112);
//     margin-left: 40px;
//     font-size:14.5px;
//     line-height: 23px;
// }
// mat-form-field.place{
//     color:rgb(216, 220, 236);
// }

// .color2{
//     border:solid 15px white;
// }
// mat-icon{
//     margin-top: 40px;
//     margin-left: 40px;
// }
// .place{
    
//     border-color: rgb(118, 119, 122);
// }
// .name{
//     margin-top: 20px;
//     color:rgb(118, 119, 122);
// }
// .name1{
//     color:rgb(118, 119, 122);
// }

.row button{
    width: 100%;
    border-radius: 10px;
    background-color: blue;
    color:white;
    height:45px;
}
.c1{
    
    background-color: white;
    border-radius: 20px;
    padding: 20px;
    // margin-bottom: 120px;
    // padding-bottom: 120px;

    
    
}
.all{
    background-color: #b5bcc8;
    // margin-bottom: 60px;
}
.c2{
    border-radius: 10px;
    width: 100%;
}
.c2_1{
    // padding: 50px; 
    padding-top: 20px;
    padding-bottom: 20px;  
    padding-left: 50px;
    padding-right: 50px;

}
.c1_1{
    background-color: #f0f5ff;
    border-radius: 15px;
    // padding-bottom: 86px;
    // border:2px red solid;
    // margin-left: 20px;
    // margin-bottom:250px ;
    // height: 100%;
    // // padding-top: 80px;
    // padding-bottom: 140px;
}
.let{
    // border:solid red;
    margin-top: 70px;
    font-size: 30px;
    line-height: 45px;
    margin-left: 40px;
    font-weight:500;
}
mat-icon{
    // border:solid red;
    margin-top: 45px;
    margin-left: 40px;
    color:rgb(72, 72, 238);
    font-size:25px;
}
.our{
    // border:solid red;
    color:rgb(106, 111, 112);
    margin-left: 40px;
    font-size:14.5px;
    line-height: 23px;
    width: 75%;
    // padding-bottom: 80px;
}
.box1{
    // border: 2px red solid;
    padding-top: 80px;
}
.box{
    // border:solid green;
    border:2px solid grey;
    margin-top: -20px;
    width: 75%;
    margin-left: 40px;
    border-radius: 10px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 15px;
    line-height: 25px;
    color: white;
    background-color: rgb(56, 56, 56);
}
// .text{
//     border:red solid;
// }
.text2 img{
    height: 30px;
    width: 30px;
    border-radius: 50%;
}
.create{
    margin-top: -10px;
    font-weight: 500;
    color:rgb(153, 154, 155);
    font-size: 13px;
}
.have{
    margin-top: 60px;
    text-align: center;
    color:rgb(153, 154, 155);
    font-weight: 500;
    // border: 2px solid red;

}
.get{
    margin-top: 10px;
    font-weight: 600px;
}
.name{
        margin-top: 50px;
        color:rgb(153, 154, 155);
}
.radio{
    padding: 10px 5px 0px 43%;
    // margin-bottom: -60px;
    // border: 2px red solid;
    
}
.name1{
    color:rgb(153, 154, 155);
    margin-top: -9px;
}
.place{
    margin-bottom: 25px;
    border-color: rgb(118, 119, 122);
} 
.place1{
    margin-top: -5px;
}  
.text3{
    margin-top: -45px;
    margin-left: 45px;
    font-size: 11px;
}
.text4{
    margin-left: 45px;
    font-size: 10px;
    line-height: 8px;
    color:rgb(138, 141, 151);
}
place1{
    outline: none;
}
mat-form-field{
    height: 80px;
}
.form1{
    width: 100%;
}
@media only screen and (max-width:959px){
    .c1 {
        border-radius:0px;
    } 
}
